/*==========================================================
BASIC CSS STYLE START HERE
===========================================================*/
*{
    margin:0px;
    padding:0px;
    list-style-type:none;
    box-sizing:border-box;
    outline:none;
    line-height:1.5rem;
    }
.container{
    width:100%;
    max-width:1200px;
    margin:0px auto;
    }
/*==========================================================
BASIC CSS STYLE END HERE
===========================================================*/
.carousel{
    width:100%;
    position:relative;
    overflow:hidden;
    }
.carousel-inner{
    display:flex;
    flex-direction:row;
    transition:0.5s ease;
    }
.carousel-item{
    flex-basis:33.33%;
    flex-grow:0;
    flex-shrink:0;
    padding:6px;
    box-sizing:border-box;
    }
.carousel-item img{
    width:100%;
    height:auto;
    display:block;
    }
button{
    border:none;
    outline:none;
    font-size:22px;
    padding:12px 16px;
    border-radius:4px;
    opacity:0;
    color:black;
    cursor:pointer;
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    }
.prev{
    left:16px;
}
.next{
    right:0px;
    right:16px;
    }
.carousel:hover button{
    opacity:0.5;
    }
.dots{
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    bottom:10px;
    display:flex;
    gap:6px;
}
.dot{
    width:10px;
    height:10px;
    background-color:white;
    border-radius:50%;
    cursor:pointer;
    }
.active{
    background-color:black;
    }